@import url('./components/header.css');
@import url('./components/button.css');
@import url('./components/cards.css');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'DM Sans';
   

}
body {
    background-color: #e8e8ff;
}