.faster {
    background-image: url('../../img/base.png');
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 132px;
    padding-top: 189px;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        row-gap: 30px;

        &__list {
            display: flex;
            flex-direction: column;
            justify-content: center;
            row-gap: 24px;

            &__description {
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 122%;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                color: #ffffff;
                opacity: 0.5;
            }

            &__title {
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 122%;
                color: #ffffff;
            }

            &__text {
                font-style: normal;
                font-weight: 400;
                font-size: 20px;
                line-height: 34px;
                color: #ffffff;
            }
        }
    }
}

@media (max-width: 1024px) {
    .faster {
        &__img {
            &__item {
                max-width: 460px;
            }
        }
    }
}

@media (min-width: 870px) and (max-width: 1024px) {
    .faster {
        &__title {
            &__list {
                &__title {
                    font-size: 36px;
                    line-height: 99%;
                }

                &__text {
                    font-size: 15px;
                    line-height: 16px;
                }
            }
        }

        &__img {
            &__item {
                max-width: 360px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 870px) {
    .faster {
        &__title {
            &__list {
                &__title {
                    font-size: 24px;
                }

                &__text {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }

        &__img {
            &__item {
                max-width: 360px;
            }
        }
    }
}

@media (max-width: 600px) {
    .faster {
        &__title {
            &__list {
                &__description {
                    font-size: 9px;
                }

                &__title {
                    font-size: 16px;
                }

                &__text {
                    font-size: 11px;
                    line-height: 15px;
                }
            }
        }

        &__img {
            &__item {
                max-width: 240px;
            }
        }
    }

    .button {
        &__btn {
            &--faster {
                width: 135px;
                height: 50px;
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .faster {
        &__img {
            display: none;
        }

        &__title {
            &__list {
                &__title {
                    font-size: 24px;
                }

                &__text {
                    font-size: 12px;
                    line-height: 15px;
                }
            }
        }
    }
}