.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url('../../img/header_back.png');
  background-repeat: no-repeat;
  margin-bottom: 194px;
}
.header__menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1802px;
  height: 62px;
  margin-bottom: 93px;
  color: #ffffff;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 4.12px;
}

.items__list {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 32px;
  list-style: none;
}
.items__list__link {
  text-decoration: none;
  color: #ffffff;
}
.logo__title {
  display: flex;
  align-items: center;
  column-gap: 4.12px;
}
.items__list__item {
  font-style: medium;
  font-size: 16px;
  line-height: 16px;
}
.header__about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 8px;
}

.header__about__title {
  font-style: normal;
  font-weight: 500;
  font-size: 68px;
  line-height: 120%;
  text-align: center;
  color: #ffffff;
}
.header__about__description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
  color: #ffffff;
  opacity: 0.8;
}
.header__about__img {
  width: 1045px;
  height: 693px;
}
.button {
  margin-top: 32px;
}
.button--menu {
  margin-top: 0;
}
.header__menu__icon {
  display: none;
}
@media (max-width: 1024px) {
  .logo__img {
    width: 50px;
  }
  .logo__title {
    font-size: 16px;
  }
  .button__btn--menu {
    width: 150px !important;
  }
  .header__about__img {
    width: 960px;
    height: auto;
  }
  .header__about__title {
    font-size: 60px;
  }
}
@media (min-width: 870px) and (max-width: 1024px) {
  .logo__img {
    width: 45px;
  }
  .logo__title {
    font-size: 10px;
  }
  .button__btn--menu {
    display: none;
  }
  .header__about__img {
    width: 840px;
    height: auto;
  }
}
@media (min-width: 768px) and (max-width: 870px) {
  .logo__img {
    width: 45px;
  }
  .logo__title {
    font-size: 10px;
  }
  .button__btn--menu {
    display: none;
  }
  .header__about__img {
    width: 740px;
    height: auto;
  }
}
@media (max-width: 600px) {
  .header__about__img {
    width: 540px;
    height: auto;
  }
  .items {
    display: none;
  }
  .header__menu__icon {
    display: inline;
    width: 25px;
  }
  .header__about__title {
    font-size: 36px;
    line-height: 80%;
  }
  .button__btn--about {
    width: 164px !important;
    height: 48px !important;
  }
  .header__about__description {
    font-size: 14px;
  }
  .button--menu {
    display: none;
  }
}
@media (min-width: 320px) and (max-width: 600px) {
  .header__about__img {
    width: 275px;
  }
  .header__about__title {
    font-size: 19px;
    line-height: 60%;
  }

  .header__about__description {
    font-size: 11px;
  }
  .button--about {
    margin-top: 0;
  }
  .button__btn--about {
    width: 150px !important;
    height: 45px !important;
  }
}
