.process {
  background-image: url('../../img/bg1.png');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 184px;
  padding-bottom: 184px;
}
.process__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 24px;
  color: #ffffff;
  padding-bottom: 32px;
}
.process__title__head {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 14px;
}
.process__title__head__txt {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 122%;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  opacity: 0.5;
}
.process__title__head__title {
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 122%;
  text-align: center;
}
.process__title__description {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;
  text-align: center;
}
.process__cards__item__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
}
.process__cards {
  display: flex !important;
  flex-direction: column !important;
  row-gap: 44px !important;
}
.process__cards__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  background-color: #ffffff;
  height: 323px;
  border-radius: 50px;
}
.process__cards__item__img--image {
  position: relative;
  width: 70%;
  top: -90px;
  left: 55px;
}

.process__cards__item__img--img1 {
  position: absolute;
  left: -72px;
  top: 9px;
}
.process__cards__item__img--img2 {
  position: absolute;
  top: -70px;
}
.process__cards__item__img--img3 {
  position: absolute;
  left: 157px;
  top: 27px;
}

@media (max-width: 1024px) {
  .process__cards__item__img--image {
    width: 105%;
  }
}
@media (min-width: 870px) and (max-width: 1024px) {
  .process__cards__item__img--img1 {
    display: none;
  }
  .process__cards__item__img--img3 {
    display: none;
  }
  .process__cards__item__img--img2 {
    position: static;
    width: 520px;
  }
  .process__cards__item__img--image {
    position: static;
  }
  .process__cards__item {
    max-width: 770px;
  }
}
@media (min-width: 768px) and (max-width: 870px) {
  .process__cards__item__img--img1 {
    display: none;
  }
  .process__cards__item__img--img3 {
    display: none;
  }
  .process__cards__item__img--img2 {
    position: static;
    width: 520px;
  }
  .process__cards__item__img--image {
    position: static;
  }
  .process__cards__item {
    max-width: 770px;
  }
}
@media (max-width: 600px) {
  .process__cards__item__img {
    display: none;
  }
  .process__cards__item {
    max-width: 320px;
  }
  .process__cards__item__title {
    align-items: center;
    row-gap: 40px;
  }
  .process__cards__item__title__title {
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  .process__cards__item {
    max-width: 270px;
  }
}
