.process {
    background-image: url('../../img/bg1.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 184px;
    padding-bottom: 184px;

    &__title {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 24px;
        color: #ffffff;
        padding-bottom: 32px;

        &__head {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            row-gap: 14px;

            &__txt {
                font-style: normal;
                font-weight: 700;
                font-size: 12px;
                line-height: 122%;
                text-align: center;
                letter-spacing: 0.15em;
                text-transform: uppercase;
                opacity: 0.5;
            }

            &__title {
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 122%;
                text-align: center;
            }
        }

        &__description {
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 34px;
            text-align: center;
        }
    }

    &__cards {
        display: flex !important;
        flex-direction: column !important;
        row-gap: 44px !important;

        &__item {
            display: flex;
            justify-content: space-between;
            align-items: center;
            max-width: 1170px;
            background-color: #ffffff;
            height: 323px;
            border-radius: 50px;

            &__title {
                display: flex;
                flex-direction: column;
                justify-content: center;
                row-gap: 20px;
            }

            &__img {
                &--image {
                    position: relative;
                    width: 70%;
                    top: -90px;
                    left: 55px;
                }

                &--img1 {
                    position: absolute;
                    left: -72px;
                    top: 9px;
                }

                &--img2 {
                    position: absolute;
                    top: -70px;
                }

                &--img3 {
                    position: absolute;
                    left: 157px;
                    top: 27px;
                }
            }
        }
    }
}

@media (max-width: 1024px) {
    .process {
        &__cards {
            &__item {
                &__img {
                    &--image {
                        display: none;
                    }
                }
            }
        }
    }
}

@media (min-width: 870px) and (max-width: 1024px) {
    .process {
        &__cards {
            &__item {
                &__img {
                    &--img1 {
                        display: none;
                    }

                    &--img2 {
                        position: static;
                        width: 520px;
                    }

                    &--img3 {
                        display: none;
                    }

                    &--image {
                        position: static;

                    }
                }

                max-width: 770px;
            }
        }
    }
}

@media (min-width: 768px) and (max-width: 870px) {
    .process {
        &__cards {
            &__item {
                &__img {
                    &--img1 {
                        display: none;
                    }

                    &--img2 {
                        position: static;
                        width: 520px;
                    }

                    &--img3 {
                        display: none;
                    }

                    &--image {
                        position: static;

                    }
                }

                max-width: 770px;
            }
        }
    }
}

@media (max-width: 600px) {
    .process {
        &__cards {
            &__item {
                max-width: 320px;

                &__img {
                    display: none;
                }

                &__title {
                    align-items: center;
                    row-gap: 40px;

                    &__title {
                        text-align: center;
                    }
                }
            }
        }
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .process {
        &__cards {
            &__item {
                max-width: 270px;

            }

        }
    }
}